<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {margin: 0; border-collapse: collapse; font-family: Calibri, sans-serif; }
        colgroup, tbody { border: solid medium; }
        .house { border: solid thick; height: 270px; width:270px; text-align: center; padding: 0; }
        .cell { border: solid thin; height: 90px; width:90px; text-align: center; padding: 0; }
    </style>
</head>
<body>
<div class="box">
<table>
    <colgroup><col><col><col>
    <colgroup><col><col><col>
    <colgroup><col><col><col>
    <tbody>
{{#each house_row}}
        <tr>
            {{#each house}}
            <td class="house">
                <table>
                    <tbody>
                    <tr>

                        <td class="cell">
                            <table></table>
                        </td>
                        <td class="cell"></td><td class="cell"></td></tr>
                    <tr><td class="cell"></td><td class="cell"></td><td class="cell"></td></tr>
                    <tr><td class="cell"></td><td class="cell"></td><td class="cell"></td></tr>
                    </tbody>
                </table>
            </td>
            {{/each}}
        </tr>
{{/each}}
    </tbody>
</table>
</div>
</body>
</html>

