<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="mystyle.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="grid">
    {{#each quadrants}}
        <div class="quadrant">
            {{#each this}}
                    {{#if this.value}}
                        <div class="value">{{this.value}}</div>
                    {{^}}
                        <div class="pencil-marks">
                            {{#each this.pencil_marks}}
                                <div>{{this}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
            {{/each}}
        </div>
    {{/each}}
</div>
</body>
</html>

