<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mystyle.css">
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function getSolution() {

            let input = new Array(81);
            document.querySelectorAll('.value').forEach(e => {
                console.log(e.innerHTML);
                let value = 0;
                if (e.innerHTML) value = parseInt(e.innerHTML);
                input[e.id]=value;
            });

            console.log(input);
            window.location = "/get_solution/" + input.join('');
        }

        const vals = ["1", "2", "3", "4", "5", "6", "7", "8", "9"];

        // todo: handle backspace
        function verifyValue(event) {
            console.log(event);
            if (vals.includes(event.key)) {
                event.target.innerHTML = event.key;
            }

            if (event.key === "Backspace") {
                event.target.innerHTML = "";
            }

            event.preventDefault();
        }

        function afterLoad() {
            document.querySelectorAll('.value').forEach(e => e.addEventListener('keydown', verifyValue))
        }

        window.onload = afterLoad;

    </script>

</head>
<body>
<div class="grid" id="grid">

    <div class="quadrant" id="quadrant_1">
        <div class="value" id=1 contenteditable="true"></div>
        <div class="value" id=2 contenteditable="true"></div>
        <div class="value" id=3 contenteditable="true"></div>
        <div class="value" id=10 contenteditable="true"></div>
        <div class="value" id=11 contenteditable="true"></div>
        <div class="value" id=12 contenteditable="true"></div>
        <div class="value" id=19 contenteditable="true"></div>
        <div class="value" id=20 contenteditable="true"></div>
        <div class="value" id=21 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_2">
        <div class="value" id=4 contenteditable="true"></div>
        <div class="value" id=5 contenteditable="true"></div>
        <div class="value" id=6 contenteditable="true"></div>
        <div class="value" id=13 contenteditable="true"></div>
        <div class="value" id=14 contenteditable="true"></div>
        <div class="value" id=15 contenteditable="true"></div>
        <div class="value" id=22 contenteditable="true"></div>
        <div class="value" id=23 contenteditable="true"></div>
        <div class="value" id=24 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_3">
        <div class="value" id=7 contenteditable="true"></div>
        <div class="value" id=8 contenteditable="true"></div>
        <div class="value" id=9 contenteditable="true"></div>
        <div class="value" id=16 contenteditable="true"></div>
        <div class="value" id=17 contenteditable="true"></div>
        <div class="value" id=18 contenteditable="true"></div>
        <div class="value" id=25 contenteditable="true"></div>
        <div class="value" id=26 contenteditable="true"></div>
        <div class="value" id=27 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_4">
        <div class="value" id=28 contenteditable="true"></div>
        <div class="value" id=29 contenteditable="true"></div>
        <div class="value" id=30 contenteditable="true"></div>
        <div class="value" id=37 contenteditable="true"></div>
        <div class="value" id=38 contenteditable="true"></div>
        <div class="value" id=39 contenteditable="true"></div>
        <div class="value" id=46 contenteditable="true"></div>
        <div class="value" id=47 contenteditable="true"></div>
        <div class="value" id=48 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_5">
        <div class="value" id=31 contenteditable="true"></div>
        <div class="value" id=32 contenteditable="true"></div>
        <div class="value" id=33 contenteditable="true"></div>
        <div class="value" id=40 contenteditable="true"></div>
        <div class="value" id=41 contenteditable="true"></div>
        <div class="value" id=42 contenteditable="true"></div>
        <div class="value" id=49 contenteditable="true"></div>
        <div class="value" id=50 contenteditable="true"></div>
        <div class="value" id=51 contenteditable="true"></div>
    </div>

    <div class="quadrant" id=quadrant_6">
        <div class="value" id=34 contenteditable="true"></div>
        <div class="value" id=35 contenteditable="true"></div>
        <div class="value" id=36 contenteditable="true"></div>
        <div class="value" id=43 contenteditable="true"></div>
        <div class="value" id=44 contenteditable="true"></div>
        <div class="value" id=45 contenteditable="true"></div>
        <div class="value" id=52 contenteditable="true"></div>
        <div class="value" id=53 contenteditable="true"></div>
        <div class="value" id=54 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_7">
        <div class="value" id=55 contenteditable="true"></div>
        <div class="value" id=56 contenteditable="true"></div>
        <div class="value" id=57 contenteditable="true"></div>
        <div class="value" id=64 contenteditable="true"></div>
        <div class="value" id=65 contenteditable="true"></div>
        <div class="value" id=66 contenteditable="true"></div>
        <div class="value" id=73 contenteditable="true"></div>
        <div class="value" id=74 contenteditable="true"></div>
        <div class="value" id=75 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_8">
        <div class="value" id=58 contenteditable="true"></div>
        <div class="value" id=59 contenteditable="true"></div>
        <div class="value" id=60 contenteditable="true"></div>
        <div class="value" id=67 contenteditable="true"></div>
        <div class="value" id=68 contenteditable="true"></div>
        <div class="value" id=69 contenteditable="true"></div>
        <div class="value" id=76 contenteditable="true"></div>
        <div class="value" id=77 contenteditable="true"></div>
        <div class="value" id=78 contenteditable="true"></div>
    </div>

    <div class="quadrant" id="quadrant_9">
        <div class="value" id=61 contenteditable="true"></div>
        <div class="value" id=62 contenteditable="true"></div>
        <div class="value" id=63 contenteditable="true"></div>
        <div class="value" id=70 contenteditable="true"></div>
        <div class="value" id=71 contenteditable="true"></div>
        <div class="value" id=72 contenteditable="true"></div>
        <div class="value" id=79 contenteditable="true"></div>
        <div class="value" id=80 contenteditable="true"></div>
        <div class="value" id=81 contenteditable="true"></div>
    </div>

</div>
</body>


<button onclick="getSolution()">Get solution for current sudoku</button>

<p id="demo"></p>

</body>
</html>

