<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mystyle.css">
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function getSolution() {

            let input="";
            document.querySelectorAll('.value').forEach(e => {
                console.log(e.innerHTML);
                let value = 0;
                if (e.innerHTML) value = parseInt(e.innerHTML);
                input = input.concat(value);
            });

            console.log(input);
            window.location = "/get_solution/" + input;
        }


        const vals = ["1", "2", "3", "4", "5", "6", "7", "8", "9"];

        // todo: handle backspace
        function verifyValue(event) {
            console.log(event);
            if (vals.includes(event.key)) {
                event.target.innerHTML = event.key;
            }
            event.preventDefault();
        }

        function afterLoad() {
            document.querySelectorAll('.value').forEach(e => e.addEventListener('keydown', verifyValue))
        }

        window.onload = afterLoad;

    </script>

</head>
<body>
<div class="grid" id="grid">

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

    <div class="quadrant">
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
        <div class="value" contenteditable="true"></div>
    </div>

</div>
</body>


<button onclick="getSolution()">Get solution for current sudoku</button>

<p id="demo"></p>

</body>
</html>

