.grid {
    border: solid thick;
    height: 810px;
    width: 810px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 270px);
    grid-template-columns: repeat(3, 270px);
}


.quadrant {
    border: solid thick;
    height: 270px;
    width: 270px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 90px);
    grid-template-columns: repeat(3, 90px);
}

.value {
    height: 90px;
    width: 90px;
    border: solid thin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;

    caret-color: transparent;
}


.show-duplicate {
    animation: color-change 1s 2;
}

@keyframes color-change {
    0% { background-color: red; }
    50% { background-color: white; }
    100% { background-color: red; }
}


.value:focus {
  background-color: aquamarine;
}

.pencil-marks {
    justify-content: center;
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: repeat(3, 30px);
    border: solid thin;
}

.pencil-marks div {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}